// Mobile First CSS

.container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: $design-width-desktop;
  max-height: 800px;
}
.aside {
  display: none;
}
.main {
  display: flex;
  flex-direction: column;
  padding-top: 1.4rem;
  &--logo {
    margin-left: 1.5625rem;
    margin-bottom: 1.4rem;
    align-self: flex-start;
    height: 1.3rem;
    max-width: 158px;
  }
  &--image-container {
    min-height: 250px;
    background: url("../../img/hero-mobile.jpg") top;
  }
  &--container {
    background: $gradient-one;
    padding: .625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &--heading {
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    font-size: 2.75rem;
    font-weight: 600;
    margin: 12% auto 0 auto;
    color: $neutral-dark-greyish-red;
    span {
      font-weight: 300;
      color: $primary-desaturated-red;
    }
  }
  &--copy {
    margin: 1rem 1.5625rem 2rem;
    text-align: center;
    color: $primary-desaturated-red;
    font-size: .875rem;
  }
  &--form {
    width: 90%;
    max-width: 400px;
  }
  &--form-input {
    display: block;
    border-radius: 28px;
    border-style: solid;
    border-width: 1px;
    height: 52px;
    width: 100%;
    max-width: 400px;
    padding: 1rem 1.8rem;
    font-size: .75rem;
    color: $primary-desaturated-red;
    &::placeholder {
      color: $primary-desaturated-red;
      letter-spacing: .5px;
    }
    &:focus {
      outline-style: unset;
      border: 2px solid $primary-desaturated-red;
    }
    &__invalid {
      border: 2px solid $primary-soft-red;
    }
  }
  &--form-submit-btn {
    position: relative;
    background: $gradient-two;
    border-style: unset;
    cursor: pointer;
    left: calc(100% - 70px);
    top: -52px;
    width: 70px;
    border-radius: 28px;
    height: 52px;
    &:hover {
      background: $secondary-desaturated-red;
      box-shadow: 0 12px 14px 3px #f5d6d6;
    }
    &:focus {
      outline-style: unset;
      border: 3px solid $primary-desaturated-red;
    }
  }
  &--form-invalid-icon {
    display: none;
    position: relative;
    top: -49px;
    left: calc(100% - 173px);
    &__displayed {
      display: inline;
    }
  }
  &--form-invalid-info {
    display: none;
    position: relative;
    top: -46px;
    left: 27px;
    font-size: .75rem;
    color: $primary-soft-red;
    &__displayed {
      display: block;
    }
  }
  &--credits {
    align-self: center;
    font-size: .6875rem;
    text-align: center;
    margin-bottom: 0;
    a {
      color: $primary-desaturated-red;
      text-decoration: none;
      &:hover,
      &:focus {
        color: $primary-soft-red;
        text-decoration: underline;
        outline: unset;
      }
    }
    span {
      color: $primary-soft-red;
      font-size: 1.125rem;
    }
  }
}

// Tablet View Adjustments

@media(min-width: 390px) {
  .main--image-container {
    min-height: 57%;
    background: url("../../img/hero-desktop.jpg") top;
    background-size: cover;
    background-position-y: 22%;
  }
}

@media(min-width: 500px) {
  .main {
    &--image-container {
      background-position-y: 22%;
    }
    &--copy {
      width: 66%;
    }
    &--form-submit-btn {
      left: 330px;
      width: 90px;
    }
    &--form-invalid-icon {
      left: 207px;
    }
  }
}

// Desktop View Adjustments

@media(min-width: 840px) {
  .main {
    background: url("../../img/bg-pattern-desktop.svg") 0 0 no-repeat, $gradient-one 0 0 no-repeat;
    padding-top: 2rem;
    max-height: 800px;
    width: 57.639%;
    justify-content: space-between;
    align-items: center;
    &--logo-container {
      width: 416px;
    }
    &--logo {
      margin: 0;
      height: 2.3rem;
    }
    &--image-container {
      display: none;
    }
    &--container {
      max-width: 422px;
      background: none;
      display: block;
    }
    &--heading {
      text-align: left;
      letter-spacing: 18px;
      font-size: 3.875rem;
      margin: 12% 0 0 0;
    }
    &--copy {
      margin: 2rem 0 3.2rem;
      width: 100%;
      text-align: left;
      font-size: 1rem;
      line-height: 1.9;
    }
    &--form {
      width: 100%;
    }
    &--form-submit-btn {
      left: calc(100% - 70px);
    }
  }
  .aside {
    display: block;
    width: 42.361%;
    &--bg-image {
      height: 100vh;
      min-height: 800px;
      background-image: url('../../img/hero-desktop.jpg');
      background-repeat: no-repeat;
    }
  }
}